/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

p, button, div {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: lighter;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body {
	line-height: 1;
    margin: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* variables */

:root {
    --grey1: #f5f5f5;
    --grey2: #d6d6d6;
    --grey3: #adadad;
    --grey4: #474747;
    --grey5: #1f1f1f;

    --prim1: #f4f3f7;
    --prim2: #d2cedf;
    --prim3: #a58cbf;
    --prim4: #796b9e;
    --prim5: #4a4063;

    --sec1: #DCF9F3;
    --sec2: #96EDDC;
    --sec3: #00E0AC;
    --sec4: #00916E;
    --sec5: #00523F;
    
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    margin-top: 15px;
}

h3 {
    margin: 10px 10px;
}

button {
    border-width: 1.55px;
    padding: 2px;
    background-color: #e989c4;
    border-radius: .5em;
    box-shadow: 1px 2px 0px rgb(163, 163, 163);;
    font-weight: bold;
}

button:hover {
    box-shadow: none;
}

button:active {
    background-color: #c271a3;
}

footer {
    display: grid;
    justify-content: center;
}

/* center game */

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: centers; */
    align-items: center;
    max-width: 500px;
    background-color: #d7c3f6;
    /* min-height: 800px; */
}

.header {
    background-color: #a06fed;
    width: 100%;
    color: whitesmoke;
    box-shadow: 0em .25em 0.3em #9f6feda8;
}

div.header > h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 9px;
    color: var(--grey1);
    text-shadow: 2px 0px var(--grey5);
}

/* 
   Inputs
*/

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.game > h3 {
    box-shadow: 0 5em grey;
}

fieldset {
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: #f0e7fc;
    padding: 2em 0em 2em 0em;
}

input.choice-button {
    height: 10em;
    width: 10em;
    margin: 0.5em;
    padding: .25em;
    background-color: #e989c4;
    border-radius: 10px;
    box-shadow: 2px 2px 20px grey;
}

input.choice-button:hover {
    box-shadow: none;
}

input.choice-button:active {
    background-color: #c271a3;
}

button#play {
    margin: 10px 0px 10px 0px;
    box-shadow: 2px 4px 20px grey;;
}

button#play:hover {
    box-shadow: none;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fef3e2;
}

.result-header {
    width: 100%;
    background-color: #facc89;
    
}

#choices {
    width: 300px;
    display: flex;
    flex: row;
    justify-content: space-between;
    padding-top: 1em;
}

.choice {
    width: 5em;
    height: 6.4em;
    background-color: #f7a73f;
    border-radius: 5px;
    padding: .2em .2em .2em .2em;
    box-shadow: 20px 20px 100px 10px lightgrey, 2px 4px 20px 2px lightgrey;
}

div img {
    width: 5em;
    height: 5em;
}

div.choice > p {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.result-info {
    width: 100%;
    background-color:#facc89;
    display: flex;
    justify-content: center;
    padding: 1em 0em 0.5em 0em;
}

#info {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#result {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-counter {
    width: 5em;
    /* border: 2px solid black; */
    border-radius: 5px;
    text-align: center;
    background-color:#f7a73f;
    box-shadow: 1.5px 1.5px 0px #ac7834;
}

div.game-counter > p {
    text-align: center;
}

footer {
    bottom: 0;
    width: 500px;
    background-color: #a06fed;
    color:var(--light-text-color);
}

